.sidenav {
  width: 200px;
  background-color: #415c77;
  color: azure;
}

.sidenav .mat-toolbar {
  background-color: #415c77;
  color: azure;
}
.sidenav .mat-list-item {
  background-color: #415c77;
  color: azure;
}
.hidden {
  display: none;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #415c77;
}
.spacer {
  flex: 1 1 auto;
}
