<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <img
      class="masthead-avatar mb-5"
      src="assets/Img/TaskList.svg"
      alt=""
      href="https://www.freepik.es/fotos-vectores-gratis/fondo"
    />
    <a href="https://www.freepik.es/fotos-vectores-gratis/fondo"
      >Vector de Fondo creado por freepik - www.freepik.es</a
    >
    <!-- Masthead Avatar Image--><img
      class="masthead-avatar mb-5"
      src="assets/img/avataaars.svg"
      alt=""
    /><!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-0">ToDo List</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <p></p>
        <button mat-raised-button color="primary" (click)="clickAddTodo()">
          Add Task
        </button>
      </div>
      <div class="divider-custom-line"></div>
    </div>
  </div>
</header>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="done">
    <mat-header-cell *matHeaderCellDef>Done</mat-header-cell>
    <mat-cell *matCellDef="let element; let index = index"
      ><input
        type="checkbox"
        [checked]="element.done"
        (change)="checkedDone(index)"
    /></mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
    <mat-cell
      *matCellDef="let element"
      [ngClass]="{ done: element.done, 'not-done': !element.done }"
      >{{ element.title }}</mat-cell
    >
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.description }}</mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="createDate">
    <mat-header-cell *matHeaderCellDef>Create Date</mat-header-cell>
    <mat-cell *matCellDef="let element">{{
      element.lastModifiedDate | date
    }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="buttons">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element; let index = index">
      <button
        mat-flat-button
        class="btn-edit"
        color="success"
        (click)="handleEditClick(element)"
      >
        Edit
      </button>

      <button
        mat-flat-button
        color="warn"
        (click)="handleDeleteClick(element.id, index)"
      >
        Delete
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
